#input_text {
  padding: 10px;
  font-size: 18px;
}

.add_btn {
  background: #15c731;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 20px;

  span {
    font-weight: bold;
    background: black;
    display: inline;
    padding: 0 6px;
    border-radius: 50px;
  }
}
