#input_text {
  padding:       15px;
  font-size:     18px;
  border:        none;
  outline:       none;
  width:         70%;
  border-radius: 5px;
}

.add_btn {
  background:    #00A896;
  color:         #ffffff;
  outline:       none;
  padding:       10px 15px;
  font-size:     20px;
  border:        2px solid #75d6cc;
  border-radius: 5px;
  margin-left:   10px;
  
  &:hover {
    background: #008678;
    cursor:     pointer;
    transition: background ease-in .1s;
  }
  
  &:active {
    background: #00645a;
  }
  
}

.add_btn_disabled {
  background:    #00A896;
  color:         #75d6cc;
  outline:       none;
  padding:       10px 15px;
  font-size:     20px;
  border:        2px solid #75d6cc;
  border-radius: 5px;
  margin-left:   10px;
}
